# Python
.venv/
__pycache__/
.pytest_cache/
*.pyc

# VS Code
.vscode/

# Build
build/
terraform/build/
terraform/lambda.zip

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup

# Local environment
.env